* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body h2 {
  font-family: sans-serif;
  margin-bottom: 10px;
  color: rgb(238, 238, 238);
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b2626;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 5px;
  width: 220px;
  margin-bottom: 20px;
  font-size: 20px;
  outline: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
